<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <!-- Might need to make this recipe.name -->
      <!-- <h2><%= calculation.eventName %></h2> -->
      <img class="img-fluid" src="<%= calculation.image%>" />
      <div class="row justify-content-between">
        <!-- <form
          class="col-1"
          action="/calculation/likeCalculation/<%= calculation.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= calculation.totalUSD %></h3>
        <%if(calculation.user == user.id){ %> -->
        <form
          action="/calculation/deleteCalculation/<%= calculation.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <table>
    <thead>
    <tr>
      <tr class="col-3 mt-5">
        <td> </td>
        <!-- <th scope="col" id="name">Event Name</th>
        <th scope="col" class="ingredients">Ingredients</th>
        <th scope="col" class="directions">Directions</th> -->
        </tr>
    </thead>
    <tbody>
        <tr class="col-3 mt-5">
            <td><%= calculation.eventName %></td>
            <td><%= calculation.dateOfEvent %></td>
            <td><%= calculation.hoursStart %></td>
            <td><%= calculation.hoursEnd %></td>
            <td><%= calculation.hoursSpent %></td>
            <td><%= calculation.amountUSD %></td>
            <td><%= calculation.totalUSD %></td>
        </tr>
    </tbody>
</table>



    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
