<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Childcare Calculator</title>
		<link
		  rel="icon"
		  type="image/png"
		  sizes="32x32"
		  href="/imgs/favicon-32x32.png"
		/>
		<link rel="stylesheet" href="/public/css/main.css" />
		<noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">	
	  <!-- Wrapper -->
		<div id="wrapper">
		  <!-- Header -->
			<header id="header">
				<div class="inner">
				<!-- Logo -->
					<a href="/profile" class="logo"><span class="symbol" class="title">Childcare Calculator</span></a>
					
					<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu"></a></li>
						</ul>
					</nav>
	    		</div>
			</header>
			

			<!-- Menu -->
        	<section>
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/profile">Back</a></li>           
					</ul>
				</nav>
        	</section>


        	<!-- Main -->
        	<div id="main">
        		<div class="inner">
					<!-- <p>Directions:<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
				
					      <!-- database information -->
        	    	<table class="alt">
        	    	  <thead>
        	    	    <tr>
        	    	      <th>Name</th>
        	    	      <th>Date</th>
        	    	      <th>Start</th>
        	    	      <th>End</th>
        	    	      <th>Rate</th>
        	    	    </tr>
        	    	  </thead>
        	    	  <tbody>
        	    	    <tr>
        	    	    <td id="eventName"><%= calculation.eventName %></td>
        	    	    <td id="weekDay"><%= calculation.dateOfEvent %></td>
        	    	    <td id="startTime"><%= calculation.hoursStart %></td>
        	    	    <td id="endTime"><%= calculation.hoursEnd %></td>
        	    	    <td id="rate"><%= calculation.amountUSD %></td>
        	    	    </tr>
        	    	  </tbody>
        	    	</table>

					<div class="row">
						<div class="col-2 col-12-mobile">
							<!-- Calculate Button -->
							<button id="calculcate" class="btn btn-primary">Calculate</button>
						</div>
						<div class="col-4 col-12-mobile">
							<!-- Delete Entry -->
							<%if(calculation.user == user.id){ %>
				  			<form
				  			action="/calculation/deleteCalculation/<%= calculation.id %>?_method=DELETE"
				  			method="POST"
				  			class="col-3">
				  			<button class="btn btn-primary" id="deleteBtn" !important type="submit"><strong>Delete entry</strong></button>
				  			</form>
				  			<%}%>
						</div>
					</div>

        	    	<!-- <div class="col-6"> -->
				  		<!-- Calculate Button
				  		<button id="calculcate" class="btn btn-primary">Calculate</button> -->
				    <!-- </div> -->
				    <!-- <div class="col-6"> -->
				  		<!-- Delete Entry -->
				  		<!-- <%if(calculation.user == user.id){ %>
				  		<form
				  		action="/calculation/deleteCalculation/<%= calculation.id %>?_method=DELETE"
				  		method="POST"
				  		class="col-3">
				  		<button class="btn btn-primary" id="deleteBtn" !important type="submit"><strong>Delete entry</strong></button>
				  		</form>
				  		<%}%>
				    </div> -->

        	    	<div class="col-7 mt-5" >
        	    		<!-- Total appears here -->
        	    		<h2 id="total"></h2>
        	  		</div>
				</div>
        	</div>
			
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<ul class="icons">
							<li><a href="https://twitter.com/Jon_Divi" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.linkedin.com/in/jondivi/" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/jondivi" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="mailto:jonathan.divi@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy;2022, Jon Divi</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</section>
					<!-- <section>
						Delete Entry
						<%if(calculation.user == user.id){ %>
						<form
						action="/calculation/deleteCalculation/<%= calculation.id %>?_method=DELETE"
						method="POST"
						class="col-3">
						<button class="btn btn-primary" id="deleteBtn" !important type="submit"><strong>Delete entry</strong></button>
						</form>
						<%}%>
					</section> -->
				</div>
			</footer>
		</div>
	</body>
    <!-- Scripts -->
    <script src="/public/js/calculationFunction.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/mainDesign.js"></script>
</html>